<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="/" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">MD College</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
            <div class="position-relative">
                <!-- <img class="rounded-circle" src="../images/user.jpg" alt="" style="width: 40px; height: 40px;"> -->
                <div
                    class="bg-primary text-white rounded-circle border border-2 border-white p-1 d-flex align-items-center justify-content-center"  style="width: 40px; height: 40px;">
                    <%= locals.user.fullName.slice(0, 1)%>
                </div>
            </div>
            <div class="ms-3">
                <h6 class="mb-0 text-capitalize"><%= locals.user.fullName%></h6>
                <% if(locals.user.isAdmin){ %>
                    <span>Admin</span>
                <% } else {%>
                    <span>User</span>
                <% }%>

            </div>
        </div>
        <div class="navbar-nav w-100">
            <div class="nav-item dropdown">
                <a href="/userPage" class="nav-link"><i class="fa-solid fa-home me-2"></i>Home</a>
            </div>
            
            <!-- <div class="nav-item dropdown">
                <a href="/admissionForm" class="nav-link"><i class="fa-solid fa-file-lines me-2"></i>Admission Form</a>
            </div> -->
            
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                        class=" fa-solid fa-file-lines me-2"></i>Admission Form</a>
                <div class="dropdown-menu bg-transparent border-0">
                    <a href="/admissionForm" class="dropdown-item">Intermidiate Admission</a>
                    <a href="/ugRegularAdmissionForm" class="dropdown-item">UG Regular Admission</a>
                    <!-- <a href="/bcaAdmissionForm" class="dropdown-item">BCA Admission</a>
                    <a href="/bbaAdmissionForm" class="dropdown-item">BBA Admission</a> -->
                </div>
            </div>
        </div>
    </nav>
</div>