<%- include('./partials/header.ejs') %>

    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 mt-4 justify-content-center" style="min-height: 100vh;">
            <div class="col-12 px-4">
                <div class="py-3 text-center">
                    <img class="d-block mx-auto mb-4" src="/images/logomdcollege.png" alt="" width="320px">
                    <h2>M.D. College, Naubatpur Checkout Page</h2>
                    <hr>
                    <p class="lead text-success fw-bold">Form Submitted Successfully. <i class="fa-solid fa-check fw-bold"></i> </p>
                </div>

                <div class="col-md-7 col-lg-8">
                    <h4 class="mb-3">Form Details</h4>
                    <form class="needs-validation" novalidate="">
                        <div class="row g-3">
                            <div class="col-12">
                                <label for="fullName" class="form-label">Full name</label>
                                <textarea name="fullName" id="fullName" rows="1" class="form-control"
                                    readonly>Rohit Singh</textarea>
                            </div>

                            <div class="col-12">
                                <label for="referenceNumber" class="form-label">Reference Number</label>
                                <textarea name="referenceNumber" id="referenceNumber" rows="1" class="form-control"
                                    readonly>24G0023535</textarea>
                            </div>

                            <div class="col-12">
                                <label for="courseName" class="form-label">Course name</label>
                                <textarea name="courseName" id="courseName" rows="1" class="form-control"
                                    readonly>Bachelor of Arts (Social Science Subjects)</textarea>
                            </div>

                            <div class="col-12">
                                <label for="category" class="form-label">Category</label>
                                <textarea name="category" id="category" rows="1" class="form-control"
                                    readonly>GENERAL</textarea>
                            </div>

                            <div class="col-12">
                                <label for="appliedDate" class="form-label">Applied Date</label>
                                <textarea name="appliedDate" id="appliedDate" rows="1" class="form-control"
                                    readonly>03-12-2024 02:45:23</textarea>
                            </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="py-5 text-center">
                <h2>Are you sure you want to proceed for payment ?</h2>
                <li class="lead text-danger fw-bold">Do not repeat the payment if any amount has been deducted or
                    debited from your bank account. <br>
                    यदि आपके बैंक खाते से कोई राशि काट ली गई है या डेबिट कर दी गई है तो भुगतान दोबारा न करें।
                    </li>
                <h3 class="mt-4">Total Amount : ₹ 1200 /-</h3>
                <button class="btn btn-success">Pay Now</button>
            </div>
        </div>
    </div>
    <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/chart/chart.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../javascripts/main.js"></script>
    <script>
        const submitPopUp = document.querySelector('#submitPopUp')
        setInterval(() => {
            submitPopUp.innerHTML = ''
        }, 3000);

        document.getElementById("loginForm").addEventListener('submit', () => {
            localStorage.setItem("mobileNumber", document.getElementById("mobileNumber").value)
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

    </html>