<%- include('./partials/header.ejs') %>

    <!-- Sign In Start -->
    <div class="container-fluid">
        <div class="row h-100 mt-4 justify-content-center" style="min-height: 100vh;">
            <div class="col-12 px-4">
                <div class="py-3 text-center">
                    <img class="d-block mx-auto mb-4" src="/images/logomdcollege.png" alt="" width="320px">
                    <h2>M.D. College, Naubatpur Payment Status</h2>
                    <hr>
                    <h4>Thank You!</h4>
                    <p class="lead text-success fw-bold">Payment Successful. <i class="fa-solid fa-check fw-bold"></i> </p>
                    <p class="lead">Your submission has been received. Please go to your Dashboard to download payment receipt.</p>
                    <!-- <button class="btn btn-primary"><i class="fa-solid fa-arrow-left"> </i> Go back to Dashboard</button> -->
                    <a class="btn btn-primary" href="/userPage"><i class="fa-solid fa-arrow-left"> </i> Go back to Dashboard</a>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Sign In End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/chart/chart.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../javascripts/main.js"></script>
    <script>
        const submitPopUp = document.querySelector('#submitPopUp')
        setInterval(() => {
            submitPopUp.innerHTML = ''
        }, 3000);

        document.getElementById("loginForm").addEventListener('submit', () => {
            localStorage.setItem("mobileNumber", document.getElementById("mobileNumber").value)
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

    </html>