<%- include('./partials/header.ejs') %>
        <!-- Sign Up Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <% if(locals.invalid){ %>
                        <div id="submitPopUp">
                          <div class="alert alert-warning bg-warning text-light border-0 my-4 mx-3 fade show" role="alert">
                            <%= locals.invalid %>
                          </div>
                        </div>
                    <% }%>

                    <% if(locals.invalidMobile){ %>
                        <div id="submitPopUp">
                          <div class="alert alert-warning bg-warning text-light border-0 my-4 mx-3 fade show" role="alert">
                            <%= locals.invalidMobile %>
                          </div>
                        </div>
                    <% }%>
                    
                    <div class="bg-light rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex gap-3 flex-column mb-3">
                            <img class="mb-0" src="/images/logomdcollege.png" alt="MD College" style="width: 100%;">
                            <a href="/register" class="">
                                <h3 class="text-primary">Register as a student</h3>
                            </a>
                        </div>
                        <form action="/register" method="post">
                            <div class="form mb-3">
                                <label class="fw-bolder text-capitalize form-label" for="fullName">Full name</label>
                                <input name="fullName" type="text" class="form-control" id="fullName" required>
                            </div>
                            <div class="form mb-3">
                                <label class="fw-bolder form-label" for="gender">Gender</label>
                                <select id="gender" class="form-select" name="gender" required>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Other</option>
                                </select>
                            </div>
                            <div class="form mb-3">
                                <label class="fw-bolder form-label" for="dOB">Date of Birth</label>
                                <input name="dOB" type="date" class="form-control" id="dOB" required>
                            </div>
                            <div class="form mb-3">
                                <label class="fw-bolder form-label" for="mobileNumber">Mobile Number</label>
                                <input name="mobileNumber" type="number" class="form-control" id="mobileNumber" required>
                            </div>
                            <div class="form mb-3">
                                <label class="fw-bolder form-label" for="email">Email</label>
                                <input name="email" type="text" class="form-control" id="email" required>
                            </div>
                        
                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Register</button>
                            <p class="text-center mb-3">Already Register ? <a href="/login">Log In</a></p>
                            <div class="text-center mb-0">"Please, Check email for username & password after register"</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign Up End -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/chart/chart.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/tempusdominus/js/moment.min.js"></script>
    <script src="../lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../javascripts/main.js"></script>
    <script>
        const submitPopUp = document.querySelector('#submitPopUp')
        setInterval(() => {
          submitPopUp.innerHTML = ''
        }, 3000);
    </script>
</body>

</html>